In [22]:
import numpy as np
import pandas as pd

### Load data

In [23]:
data = pd.read_csv("../data/autoinsurance_churn.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 22 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   individual_id        1048575 non-null  float64
 1   address_id           1048575 non-null  float64
 2   curr_ann_amt         1048575 non-null  float64
 3   days_tenure          1048575 non-null  float64
 4   cust_orig_date       1048575 non-null  object
 5   age_in_years         1048575 non-null  int64
 6   date_of_birth        1048575 non-null  object
 7   latitude             890412 non-null   float64
 8   longitude            890412 non-null   float64
 9   city                 1041065 non-null  object
 10  state                1048575 non-null  object
 11  county               1041065 non-null  object
 12  income               1048575 non-null  float64
 13  has_children         1048575 non-null  float64
 14  length_of_residence  1048575 non-null  float64
 15  marital_status       1048575 non-null  object
 16  home_market_value    991146 non-null   object
 17  home_owner           1048575 non-null  float64
 18  college_degree       1048575 non-null  float64
 19  good_credit          1048575 non-null  float64
 20  acct_suspd_date      120889 non-null   object
 21  Churn                1048575 non-null  int64
dtypes: float64(12), int64(2), object(8)
memory usage: 176.0+ MB

### Remove variables

In [24]:
to_remove = ["individual_id", "address_id", "latitude", "longitude", "acct_suspd_date", "state"]
data.drop(to_remove, axis=1, inplace=True)

### Impute values

In [25]:
def convert_home_market_value(x):
        if x is np.nan:
            return 0
        if x == "1000000 Plus":
            return 1000000.0
        x = x.split(" - ")
        return np.mean(list(map(float, x)))

home_market_value_mean = data["home_market_value"].apply(convert_home_market_value).mean()
print(home_market_value_mean)

124863.25444627232

In [26]:
data["home_market_value"] = data["home_market_value"].fillna("100000 - 124999")

### Remove registers

In [27]:
data.dropna(inplace=True)

### Save data

In [28]:
data.to_csv("../data/autoinsurance_churn_clean.csv", index=False)